<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/homepage-style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" />
  <title>Classroom Details</title>
  <style>
    .datepicker {
      font-size: 12px;
    }

    .datepicker td,
    .datepicker th {
      width: 1.5em;
      height: 1.5em;
    }
  </style>
</head>

<body>
  <h2>Classroom Details</h2>

  <% if (classroom) { %>

  <div>
    <h3>Name: <%= classroom.name %></h3>
    <p>Building: <%= classroom.building %></p>
    <p>Address: <%= classroom.address %></p>
    <p>Capacity: <%= classroom.capacity %></p>
    <p>Type: <%= classroom.type %></p>
    <div class="col-sm-6">

      <h2>Reservations:</h2>

      <div class="form-group">
        <label for="startDatePicker">Start Date:</label>
        <input type="text" id="startDatePicker" class="form-control datepicker" />
      </div>

      <div class="form-group">
        <label for="endDatePicker">End Date:</label>
        <input type="text" id="endDatePicker" class="form-control datepicker" />
      </div>

      <button id="searchButton" class="btn btn-primary">Search</button>

      <ul id="data-table" class="responsive-table">
        <li class="custom-table-header">
          <div class="custom-col custom-col-1">Reservation Date</div>
          <div class="custom-col custom-col-2">Reservation Hour</div>
          <div class="custom-col custom-col-3">Teacher Name</div>
          <div class="custom-col custom-col-4">Reservation ID</div>
          <div class="custom-col custom-col-5">Classroom Name</div>
          <div class="custom-col custom-col-6">Teaching ID</div>
        </li>
        <% reservations.forEach(function(reservation) { %>
        <li class="custom-table-row" data-date="<%= reservation.reservation_date %>">
          <div class="custom-col custom-col-1" data-label="Reservation Date">
            <%= new Date(reservation.reservation_date).toLocaleDateString('en-GB', { day: 'numeric', month: 'numeric', year: 'numeric' }) %>
          </div>
          <div class="custom-col custom-col-2" data-label="Reservation Hour">
            <%= reservation.reservation_hour %>
          </div>
          <div class="custom-col custom-col-3" data-label="Teacher Name">
            <%= reservation.teacher_firstname %>
            <%= reservation.teacher_lastname %>
          </div>
          <div class="custom-col custom-col-4" data-label="Reservation ID">
            <%= reservation.id %>
          </div>
          <div class="custom-col custom-col-5" data-label="Classroom Name">
            <%= reservation.classroom_name %>
          </div>
          <div class="custom-col custom-col-6" data-label="Teaching ID">
            <%= reservation.teaching_id %>
          </div>
        </li>
        <% }); %>
      </ul>
      <% if (reservations && reservations.length===0) { %>
      <p>No reservations found for this classroom.</p>
      <% } %>
    </div>

  </div>
  </div>

  <% } else { %>
  <h3>Classroom not found.</h3>
  <% } %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
  <script>
    $(document).ready(function () {
      $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayHighlight: true
      });
    });
    $(function () {
  $("#searchButton").on("click", function () {
    var startDate = new Date($("#startDatePicker").val());
    var endDate = new Date($("#endDatePicker").val());

    // Show only the reservations that fall within the selected date range
    $("#data-table .custom-table-row").hide();
    $("#data-table .custom-table-row").each(function () {
      var reservationDate = new Date($(this).attr("data-date"));
      if (reservationDate >= startDate  && reservationDate <= endDate) {
        $(this).show();
      }
    });
  });
});
  </script>
</body>

</html>
